/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navigation Bar */
header {
    background-color: #4CAF50;
    padding: 10px 0;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    
}

nav .logo h1 {
    color: white;
    font-size: 24px;
    
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    margin-left: 20px;
 ;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
 
}

nav ul li a:hover {
    color: #fff7a0;
}

/* Hero Section */
.hero {
    background: url('fertilizer-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero h2 {
    font-size: 48px;
    margin-top: 40px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: gray;
    color: #000;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

.hero .btn:hover {
    background-color: #fff7a0;
}

/* Platform Description */
#platform {
    padding: 50px 20px;
    background-color: gray;
    text-align: center;
}

#platform h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#platform p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

/* About Us Section */
.about-us {
    padding: 50px 20px;
    text-align: center;
}

.about-us h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-us p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}
